.main2 {
	background-color: #1f2023;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
}

.containerGame {
	width: 1390px;
	margin: 0 auto;
}
.containerTitleAndPictureGame {
	width: 600px;
	margin-right: 60px;
}

.titreGame {
	color: white;
	padding-top: 100px;
	margin-left: 13px;
	font-size: 30px;
	margin-bottom: 5px;
	margin-bottom: 15px;
}

.pictureGame {
	width: 600px;
	height: 400px;
	object-fit: cover;
	border-radius: 10px;
}

.containerButton {
	margin-bottom: 30px;
}

.containerDescriptionGame {
	width: 700px;
}
.buttonGame {
	width: 120px;
	height: 50px;
	text-align: start;
	color: white;
	background-color: #1f2023;
	border: 1px solid white;
	margin-right: 20px;
	border-radius: 7px;
	padding-left: 10px;
	font-size: 17px;
	cursor: pointer;
}

.iconBookmark {
	color: white;
	margin-left: 8px;
}

.containerPlateforms {
	width: 250px;
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	margin-right: 100px;
	margin-bottom: 33px;
}

.platform {
	color: white;
}

.objectKey {
	color: rgba(128, 128, 128, 0.708);
}

.description {
	color: white;
	height: 72px;
	line-height: 18px;
	margin-right: 50px;
	overflow: hidden;
}

.containerDesDesc {
	display: flex;
}

.genreText {
	color: white;
}

.containerGamesSemblables {
	display: flex;

	gap: 20px;
}

.photos {
	width: 250px;
	height: 370px;
	object-fit: cover;
	padding-bottom: 100px;
}

.titleOtherGames {
	color: white;
	font-size: 25px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-weight: 200;
}

.reviewsTitle {
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 200;
}

.spanLong {
	margin-left: 5px;
	font-size: 10px;
}

.reviewsSousTitle {
	color: white;
	width: 600px;
	margin: 0 auto;
	padding-left: 25px;
	padding-bottom: 7px;
}

.containerReviews {
	background-color: #2a2b2e;
	width: 600px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 50px;
}

.commentTitle {
	color: white;
	font-size: 15px;
	text-decoration: underline;
	margin-bottom: 10px;
}
.messageOreview {
	display: flex;
	justify-content: center;
	color: white;
	font-size: 25px;
	margin-top: 50px;
	padding-bottom: 50px;
}

.commentText {
	color: white;
	font-size: 13px;
}

.containerOwner {
	display: flex;
	margin-top: 20px;
	align-items: center;
	gap: 10px;
}

.imgOwner {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.commentDate {
	color: #898b92;
	font-size: 12px;
}

.commentUser {
	color: white;
	font-size: 15px;
}

.finger {
	display: flex;
	margin-left: 320px;
	align-items: center;
}

.plusMoins {
	height: 30px;
	margin-right: 4px;
}

.counterPlus {
	margin-right: 20px;
}
